.main {
    font-family: Inter, sans-serif;
    padding: 57px 27px;
    color: white;
    
}

.mainTitle {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.mainFacts {
    margin-top: 46px;
}

.mainFacts > li {
    line-height: 19px;
    padding-block: 10px;
}

.mainFacts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}